
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 fcol">
        <p class="fcopy_txt">Copyright &copy; 2019 Active BI Ltd. All right reserved.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 fcol">
          <div class=footer_links>
              <ul class="list-unstyled foot_links">
              <li><a href="javascript:void(0);">Privacy Policy</a></li>
              <li><a href="javascript:void(0);">Terms of Use</a></li>
          </div>
        </div>
    </div>
  </div>
</footer>
