<section class="content-page">
    <div class="container mb-80">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row mb-45">
                    <div class="col-sm-12 text-center">
                        <h2 class="normal"><span>There are many variations of passages</span></h2>
                    </div>
                    <div class="col-sm-6">
                        <p class="large">Ras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus. Etiam aliquam turpis quis blandit finibus.</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="large">Ras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus. Aenean eros tortor, cursus quis feugiat sed, vestibulum vel purus. Etiam aliquam turpis quis blandit finibus.</p>
                    </div>
                </div>
                <!--Customer Carousel-->
                <div class="product-item-1 owl-carousel owl-theme nf-carousel-theme1 owl-loaded owl-drag">
                    
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1900px;"><div class="owl-item active" style="width: 920px; margin-right: 30px;"><div class="product-item">
                        <img src="../../assets/img/bg/bg_6.jpg">
                    </div></div><div class="owl-item" style="width: 920px; margin-right: 30px;"><div class="product-item">
                        <img src="../../assets/img/bg/bg_6.jpg">
                    </div></div></div></div><div class="owl-nav"><div class="owl-prev disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div><div class="owl-dots disabled"></div></div>
                <!--End Customer Carousel-->
            </div>
        </div>
    </div>
    <section class="section-padding bg-gray">
        <div class="container text-center mb-45">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="normal"><span>What About Us</span></h2>
                    <p class="large">
                        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> developers can use to quickly grab dummy text.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-xs-30">
                    <h5>Inclusion</h5>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                </div>
                <div class="col-md-4 col-sm-6 mb-xs-30">
                    <h5>Ingenuity</h5>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h5>Innovation</h5>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container text-center mb-45">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="normal"><span>Meet the Team</span></h2>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-item-3 owl-carousel owl-theme nf-carousel-theme1 owl-loaded owl-drag">

                        <!-- item.1 -->
                        
                        <!-- item.2 -->
                        
                        <!-- item.3 -->
                        
                        <!-- item.4 -->
                        
                        <!-- item.5 -->
                        

                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1900px;"><div class="owl-item active" style="width: 350px; margin-right: 30px;"><div class="product-item">
                            <div class="product-item-inner">
                                <div class="product-img-wrap">
                                    <img src="../../assets/img/bg/bg_6.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-detail">
                                <p class="product-title"><a href="javascript:;">John Carles</a></p>
                                <h6 class="item-price">Director</h6>
                            </div>
                        </div></div><div class="owl-item active" style="width: 350px; margin-right: 30px;"><div class="product-item">
                            <div class="product-item-inner">
                                <div class="product-img-wrap">
                                    <img src="../../assets/img/bg/bg_6.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-detail">
                                <p class="product-title"><a href="javascript:;">Charlee Champlin</a></p>
                                <h6 class="item-price">Account Men.</h6>
                            </div>
                        </div></div><div class="owl-item active" style="width: 350px; margin-right: 30px;"><div class="product-item">
                            <div class="product-item-inner">
                                <div class="product-img-wrap">
                                    <img src="../../assets/img/bg/bg_6.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-detail">
                                <p class="product-title"><a href="javascript:;">Michel Jackson</a></p>
                                <h6 class="item-price">Designer</h6>
                            </div>
                        </div></div><div class="owl-item" style="width: 350px; margin-right: 30px;"><div class="product-item">
                            <div class="product-item-inner">
                                <div class="product-img-wrap">
                                    <img src="../../assets/img/bg/bg_6.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-detail">
                                <p class="product-title"><a href="javascript:;">Vincet Vangogh</a></p>
                                <h6 class="item-price">online Men.</h6>
                            </div>
                        </div></div><div class="owl-item" style="width: 350px; margin-right: 30px;"><div class="product-item">
                            <div class="product-item-inner">
                                <div class="product-img-wrap">
                                    <img src="../../assets/img/bg/bg_6.jpg" alt="">
                                </div>
                            </div>
                            <div class="product-detail">
                                <p class="product-title"><a href="javascript:;">Lio Nardo</a></p>
                                <h6 class="item-price">Leader</h6>
                            </div>
                        </div></div></div></div><div class="owl-nav"><div class="owl-prev disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </section>
</section>