<div>
    <app-slider-container></app-slider-container>
    <app-promo-banner></app-promo-banner>
    <app-top-interesting></app-top-interesting>
    <app-all-widgets></app-all-widgets>
    <app-categories></app-categories>
    <!-- <app-special-products></app-special-products>
    <app-trending-produts></app-trending-produts> -->
    <!-- <app-slider></app-slider>
    <app-custom-visualisation></app-custom-visualisation> 
    <app-tables></app-tables>
    <app-charts></app-charts>
    <app-maps></app-maps>
     
    <app-kpi></app-kpi>
    <app-reports></app-reports>
    <app-other></app-other>
    <app-new-added></app-new-added>
    <app-most-downloaded></app-most-downloaded>  -->
</div>