<div class="card">
  <div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Description</th>
          <th>Version</th>
          <th>Price</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let widget of allWidgets">
          <td>
            <img [src]="widget.image ? (baseUrl + '/uploads/images/' + widget.image.split(',')[0]) :
       (widget.sub_category ? (baseUrl + '/uploads/images/' + widget.sub_category + '.png') :
       (baseUrl + '/uploads/images/' + widget.category + '.png'))" alt="No Image" height="60" width="60"
              class="rounded">
          </td>
          <td class="fw-bold">{{ widget.title }}</td>
          <td>{{ widget.category }}</td>
          <td>{{ widget.sub_category }}</td>
          <td style="max-width: 350px;">{{ widget.details }}</td>
          <td>1.1</td>
          <td>{{ widget.price || 'Free' }}</td>
          <td>
            <div class="d-flex justify-content-end gap-1">
              <button class="apv-btn btn-sm btn-outline-secondary">
                <i class="fa-duotone fa-solid fa-eye fa-xl" [routerLink]="['/preview/',widget.id]"></i>
              </button>
              <button class="apv-btn btn-sm btn-outline-secondary">
                <i class="fa-duotone fa-solid fa-pen-to-square fa-xl" [routerLink]="['/upload/',widget.id]"></i>
              </button>
              <!-- <button class="apv-btn btn-sm btn-outline-danger" (click)="deleteComponent(widget.id)">
                <i class="fa-light fa-trash-can fa-xl" style="color: #3858d6;"></i>
              </button> -->
              <button class="apv-btn btn-sm btn-outline-danger" (click)="openDeleteConfirmation(widget)">
                <i class="fa-light fa-trash-can fa-xl" ></i>
              </button>
              <button class="apv-btn btn-sm btn-outline-primary"
                [ngClass]="widget.is_public ? 'btn-success' : 'btn-warning'" (click)="toggleApproval(widget)">
                <i class="btns" [ngClass]="widget.is_public ? 'fa-solid fa-circle-check fa-xl' : 'fa-regular fa-circle-check fa-xl'"></i>
              </button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteConfirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">CONFIRM DELETE</h4>
    <button type="button" class="close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa-regular fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body">
    <p class="confirmation-text">Are you sure you want to delete this widget?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel" (click)="modal.dismiss('Cancel click')">
      CANCEL
    </button>
    <button type="button" class="btn btn-delete" (click)="modal.close('Delete click')">
      DELETE
    </button>
  </div>
</ng-template>
