<!-- 
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 fcol">
        <p class="fcopy_txt">Copyright &copy; 2019 Active BI Ltd. All right reserved.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 fcol">
          <div class=footer_links>
             <a href="">Privacy Policy</a> <span> | </span> <a href="">Terms of Use</a> 
        </div>
    </div>
  </div>
</div>
</footer> -->

<footer class="footer section-padding">


  <!-- Footer Copyright -->
  <div class="container">
      <div class="copyrights">
          <p class="copyright">Copyright &copy; 2019 Active BI Ltd. All right reserved.</p>
<p>
  <a href="/policy">Privacy Policy</a> <span> | </span> <a href="/terms">Terms of Use</a>
</p>
      </div>
  </div>
  <!-- End Footer Copyright -->
</footer>