<!--
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-xl-6 fcol">
        <p class="fcopy_txt">Copyright &copy; 2019 Active BI Ltd. All right reserved.</p>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 fcol">
          <div class=footer_links>
             <a href="">Privacy Policy</a> <span> | </span> <a href="">Terms of Use</a>
        </div>
    </div>
  </div>
</div>
</footer> -->

<footer class="footer section-padding">


  <div class="footer_col_list">
    <div class="footer_col">
      <div class="footer_col_innerbox">
        <div class="head-title">
          <h6 class="box1">Widgets</h6>
        </div>
        <ul class="col_list">
          <li><a href="component/Widgets/Table">Table</a></li>
          <li><a href="component/Widgets/Charts">Charts</a></li>
          <li><a href="component/Widgets/Maps">Maps</a></li>
          <li><a href="component/Widgets/KPI">KPI</a></li>
          <li><a href="component/Widgets/Custom Visualization">Custom Visualization</a></li>
          <li><a href="component/Widgets/Test">Test</a></li>
        </ul>
      </div>
    </div>
    <div class="footer_col">
      <div class="footer_col_innerbox">
        <div class="head-title">
          <h6 class="box2">Connectors</h6>
        </div>
      </div>
    </div>
    <div class="footer_col">
      <div class="footer_col_innerbox">
        <div class="head-title">
          <h6 class="box3">Reports</h6>
        </div>
        <ul class="col_list">
          <li><a href="component/Reports/BIRT">Birt</a></li>
          <li><a href="component/Reports/JASPER">Jasper</a></li>
          <li><a href="component/Reports/PENTAHO">Pentaho</a></li>
        </ul>
      </div>
    </div>
    <div class="footer_col">
      <div class="footer_col_innerbox">
        <div class="head-title">
          <h6 class="box4">Security Code</h6>
        </div>
      </div>
    </div>
    <div class="footer_col">
      <div class="footer_col_innerbox">
        <div class="head-title">
          <h6 class="box5">Connect</h6>
        </div>
        <ul class="col_list social_links">
          <li><a href="https://www.facebook.com/aivhub"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
          <li><a href="https://www.instagram.com/aivhub_ltd"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
          <li><a href="https://twitter.com/activebi"><i class="fa-brands fa-x-twitter"></i>Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/aivhub"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
          <li><a href="https://www.youtube.com/channel/UCDHSBsTPITUgosWkI8LGH8w"><i class="fa-brands fa-youtube-play"></i>Youtube</a></li>
        </ul>
      </div>
    </div>

  </div>


  <!-- Footer Copyright -->
  <div class="container">
    <div class="copyrights">
      <p class="copyright">Copyright &copy; 2024 AIVHUB Ltd. All right reserved.</p>
      <p>
        <a href="/policy">Privacy Policy</a> <span> | </span> <a href="/terms">Terms of Use</a>
      </p>
    </div>
  </div>
  <!-- End Footer Copyright -->
</footer>
