<!-- Page Content -->
<section class="content-page">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-12">


        <div class="">
          <h6 class="widget-title">My Profile</h6>

          <ul class="product-filter nav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="aivprof-tab1" data-toggle="tab" href="javascript:void(0);"
                data-target="#aiv_profiletb1" role="tab" aria-controls="home" aria-selected="true">Profile
                Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="aivprof-tab2" data-toggle="tab" href="javascript:void(0);"
                data-target="#aiv_profiletb2" role="tab" aria-controls="profile" aria-selected="false">Edit
                Profile</a>
            </li>
            <li class="nav-item" *ngIf="currentUser.role === 'ADMIN'">
              <a class="nav-link" id="aivprof-tab3" data-toggle="tab" href="javascript:void(0);"
                data-target="#aiv_profiletb3" role="tab" aria-controls="contact" aria-selected="false">My
                Components</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in show active" id="aiv_profiletb1" role="tabpanel"
              aria-labelledby="aivprof-tab1">

              <div class="row">
                <div class="aiv_myprofileinfodiv_left col-md-3">
                  <div class="aiv_myprofile_pdetail_img">
                    <div class="aiv_userprofimgdiv">
                      <!-- "{{currentUser[0].profile_image !== '' ? baseUrl+'/uploads/profiles/'+currentUser[0].profile_image : baseUrl+'/uploads/profiles/'+currentUser[0].profile_image  -->
                      <img
                        src="{{currentUserPhoto ? baseUrl+'/uploads/profiles/'+ currentUserPhoto : baseUrl+'/uploads/profiles/user.jpg' }}"
                        alt="aiv-user-profile-img" class="img-thumbnail rounded-circle">
                    </div>

                  </div>
                </div>
                <div class="aiv_myprofileinfodiv_right col-md-9 ">
                  <div class="aiv_myprofile_pdetail">
                    <ul class="list-unstyled aiv_simplist">
                      <li><strong>First Name: </strong> <span>{{currentUser.first_name}}</span></li>
                      <li><strong>Last Name: </strong> <span>{{currentUser.last_name}}</span></li>
                      <li
                        *ngIf="currentUser.username != '' && currentUser.username != null && currentUser.username !=undefined">
                        <strong>Email: </strong> <span>{{currentUser.username}}</span>
                      </li>
                      <li
                        *ngIf="currentUser.phone_number != '' && currentUser.phone_number != null && currentUser.phone_number !=undefined">
                        <strong>Phone No: </strong> <span>{{currentUser.phone_number}}</span>
                      </li>
                      <li
                        *ngIf="currentUser.company_name != '' && currentUser.company_name != null && currentUser.company_name !=undefined">
                        <strong>Company Name: </strong> <span>{{currentUser.company_name}}</span>
                      </li>
                      <li *ngIf="currentUser.city != '' && currentUser.city != null && currentUser.city !=undefined">
                        <strong>City: </strong> <span>{{currentUser.city}}</span>
                      </li>
                      <li *ngIf="currentUser.state != '' && currentUser.state != null && currentUser.state !=undefined">
                        <strong>State: </strong> <span>{{currentUser.state}}</span>
                      </li>
                      <li
                        *ngIf="currentUser.country != '' && currentUser.country != null && currentUser.country !=undefined">
                        <strong>Country: </strong> <span>{{currentUser.country}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <hr class="hrtyp1">
                <!-- <div class="aivrblock_widg_ratebkdwon_div">
                      <div class="aiv_phead">Overall Widgets Ratings</div>
                      <div class="aiv_rateprg_listing_div">
                        <div class="aivrate_prgbox">
                          <div class="aivrate_prgbox_starlabel">
                            5 <i class="fa fa fill fa-star"></i>
                          </div>
                          <div class="aivrate_prgbox_prgdiv">
                            <div class="progress">
                              <div class="progress-bar aiv_prgbar5" role="progressbar" style="width: 50%;"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="aivrate_prgbox_prgval">
                            5
                          </div>
    
                        </div>
                        <div class="aivrate_prgbox">
                          <div class="aivrate_prgbox_starlabel">
                            4 <i class="fa fa fill fa-star"></i>
                          </div>
                          <div class="aivrate_prgbox_prgdiv">
                            <div class="progress">
                              <div class="progress-bar aiv_prgbar4" role="progressbar" style="width: 80%;"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="aivrate_prgbox_prgval">
                            4
                          </div>
    
                        </div>
                        <div class="aivrate_prgbox">
                          <div class="aivrate_prgbox_starlabel">
                            3 <i class="fa fa fill fa-star"></i>
                          </div>
                          <div class="aivrate_prgbox_prgdiv">
                            <div class="progress">
                              <div class="progress-bar aiv_prgbar3" role="progressbar" style="width: 60%;"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="aivrate_prgbox_prgval">
                            15
                          </div>
    
                        </div>
                        <div class="aivrate_prgbox">
                          <div class="aivrate_prgbox_starlabel">
                            2 <i class="fa fa fill fa-star"></i>
                          </div>
                          <div class="aivrate_prgbox_prgdiv">
                            <div class="progress">
                              <div class="progress-bar aiv_prgbar2" role="progressbar" style="width: 40%;"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="aivrate_prgbox_prgval">
                            5
                          </div>
    
                        </div>
                        <div class="aivrate_prgbox">
                          <div class="aivrate_prgbox_starlabel">
                            1 <i class="fa fa fill fa-star"></i>
                          </div>
                          <div class="aivrate_prgbox_prgdiv">
                            <div class="progress">
                              <div class="progress-bar aiv_prgbar1" role="progressbar" style="width: 20%;"
                                aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                          <div class="aivrate_prgbox_prgval">
                            5
                          </div>
    
                        </div>
                      </div>
                    </div> -->
              </div>

            </div>
            <div class="tab-pane fade in" id="aiv_profiletb2" role="tabpanel" aria-labelledby="aivprof-tab2">
              <div class="aiv_tabstyp1_tbcontent_ibox tb_aivedprof">
                <div class="row">

                  <div class="aiv_editprofile_imgdivtp col-md-3">

                    <div class="aiv_editprofile_imgdiv">
                      <div class="profileimgdiv">
                        <img id="customImg"
                          src="{{currentUser.profile_image !== '' ? baseUrl+'/uploads/profiles/'+currentUser.profile_image : baseUrl+'/uploads/profiles/currentUser.png' }}"
                          alt="aiv-user-profile-img" onerror="this.onerror=null;" class="img-thumbnail rounded-circle"
                          alt="">
                        <label class="fa fa-pencil-square-o upload-profile-icon" for="customFile"
                          title="Change profile photo"></label>
                        <input accept="image/*" type="file" id="profileImage" class="custom-file-input"
                          (change)="saveProfileImage($event)" id="customFile" required>


                        <!-- <img src="assets/duser.jpg" alt="aiv-user-profile-img" class="img-thumbnail rounded-circle"> -->
                      </div>

                    </div>
                  </div>

                  <div class="mainaivfrmgrp_wrap aiv_editprofile_pdetail col-md-9">
                    <div class="aiv_phead">Modify Profile</div>

                    <form #modify="ngForm" (ngSubmit)="editUser()" novalidate>
                      <div class="row">
                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">First Name</label>
                            <input type="text" required [(ngModel)]="userToUpdate.first_name" class="form-control tbox"
                              name="first_name" #first_name="ngModel">
                          </div>
                          <div *ngIf="!first_name?.valid && (first_name?.dirty || first_name?.touched)" class="error">
                            <div class="error" *ngIf="first_name.errors.required">
                              First name is required
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">Last Name</label>
                            <input type="text" required [(ngModel)]="userToUpdate.last_name" class="form-control tbox"
                              name="last_name" #last_name="ngModel">
                          </div>
                          <div *ngIf="!last_name?.valid && (last_name?.dirty || last_name?.touched)" class="error">
                            <div class="error" *ngIf="last_name.errors.required">
                              Last name is required
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">Email</label>
                            <input type="text" required email [(ngModel)]="userToUpdate.email" class="form-control tbox"
                              name="email" #email="ngModel">
                          </div>
                          <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
                            <div class="error" *ngIf="email.errors.required">
                              Email is required.
                            </div>
                            <div class="error" *ngIf="email.errors.email">
                              Please provide valid Email
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">Phone Number</label>
                            <input type="text" minlength="10" [(ngModel)]="userToUpdate.phone_number"
                              class="form-control tbox" name="phone_number" #phone_number="ngModel">
                          </div>
                          <div *ngIf="!phone_number?.valid && (phone_number?.dirty || phone_number?.touched)"
                            class="error">
                            <div *ngIf="phone_number.errors.required">
                              Phone number is required.
                            </div>
                            <div *ngIf="phone_number.errors.minlength">
                              Please provide valid Phone number.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">Old Password</label>
                            <input type="password" [(ngModel)]="userToUpdate.password" class="form-control tbox"
                              id="password" name="password" #password="ngModel">
                          </div>
                          <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="error">
                            <div *ngIf="password.errors.required">
                              Old Password is required.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">New Password</label>
                            <input type="password" minlength="8" [(ngModel)]="userToUpdate.newpassword"
                              name="newpassword" class="form-control tbox" #newpassword="ngModel">
                          </div>
                          <div *ngIf="!newpassword?.valid && (newpassword?.dirty || newpassword?.touched)"
                            class="error">
                            <div *ngIf="newpassword.errors.minlength">
                              Please provide at least 8 character password.
                            </div>
                          </div>
                        </div>

                        <div class="col-xl-12">
                          <div class="form-group">
                            <label class="lbl">Company Name</label>
                            <input type="text" [(ngModel)]="userToUpdate.company_name" class="form-control tbox"
                              name="company_name" #company_name="ngModel">
                          </div>
                        </div>

                        <div class="col-xl-12">
                          <div class="form-group">
                            <label class="lbl">Address</label>
                            <textarea class="form-control tarea" rows="3" [(ngModel)]="userToUpdate.address"
                              name="address" #address="ngModel"></textarea>
                          </div>
                        </div>

                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">City</label>
                            <input type="text" [(ngModel)]="userToUpdate.city" #city="ngModel" name="city"
                              class="form-control tbox">
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">State</label>
                            <input type="text" [(ngModel)]="userToUpdate.state" #state="ngModel" name="state"
                              class="form-control tbox">
                          </div>
                        </div>

                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">Country</label>
                            <input type="text" [(ngModel)]="userToUpdate.country" #country="ngModel" name="country"
                              class="form-control tbox">
                          </div>
                        </div>

                        <div class="col-lg-6 col-xl-6">
                          <div class="form-group">
                            <label class="lbl">Zipcode</label>
                            <input type="text" [(ngModel)]="userToUpdate.zip_code" #zip_code="ngModel" name="zip_code"
                              class="form-control tbox">
                          </div>
                        </div>

                        <div class="col-xl-12">
                          <div class="form-field-wrapper">
                            <input type="submit" name="submit" id="submit" class="submit btn btn-md btn-black"
                              value="Submit" [disabled]="!modify.valid" (click)="editUser()">

                            <a href="javascript:void(0);" class="ml-5 btn-md" (click)="cancel()">Cancel</a>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="aiv_profiletb3" role="tabpanel" aria-labelledby="aivprof-tab3">
              <div class="aiv_tabstyp1_tbcontent_ibox tb_aivprof_mywidgs">
                <div class="myprof_upld_newwidgdiv">
                  <a class="btn btn-primary btn-md" [routerLink]="['/upload/']">Add New Component</a>
                </div>
                <div class="aiv_phead">My Uploaded Components</div>
                <div class="aiv_widget_table_div">
                  <div class="table-responsive">
                    <table class="table table-bordered table-hover aiv_cmn_table aiv_widg_table">
                      <thead>
                        <tr>
                          <th data-carttbl-hdtitle="tblaiv_ctblimg" scope="col">Image</th>
                          <th data-carttbl-hdtitle="tblaiv_ctbcatg" scope="col">Category</th>
                          <th data-carttbl-hdtitle="tblaiv_ctbcatg" scope="col">Sub Category</th>
                          <th data-carttbl-hdtitle="tblaiv_ctbdesc" scope="col">Description</th>
                          <th data-carttbl-hdtitle="tblaiv_ctbvers" scope="col">Version</th>
                          <th data-carttbl-hdtitle="tblaiv_ctbprc" scope="col">Price</th>
                          <th data-carttbl-hdtitle="tblaiv_ctboper" scope="col">Operations</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let widget of widgetsByUser ">
                          <tr>
                            <td>
                              <div class="tblwidg_td_contwidg_div">
                                <div class="tblwidg_td_widgimg_div">
                                  <img
                                    src="{{widget.image !== '' ? baseUrl+'/uploads/images'+'/'+widget.image.split(',')[0] : baseUrl+'/uploads/'+'images/dflwidg.png' }}"
                                    class="img-thumbnail" alt="aiv-widget-image">
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="tblwidg_td_contwidg_div">
                                <p class="tblwid_versn">{{widget.category}}</p>
                              </div>
                            </td>
                            <td>
                              <div class="tblwidg_td_contwidg_div">
                                <p class="tblwid_versn">{{widget.sub_category}}</p>
                              </div>
                            </td>
                            <td>
                              <div class="tblwidg_td_contwidg_div">
                                <p class="tblwid_nm">{{widget.title}}</p>
                              </div>
                            </td>
                            <td>
                              <div class="tblwidg_td_contwidg_div">
                                <p class="tblwid_versn">1.1</p>
                              </div>
                            </td>
                            <td>
                              <div class="tblwidg_td_contwidg_div">
                                <p class="tblwid_price" *ngIf="widget.purchase_option != 'free'">{{widget.price}}</p>
                                <p class="tblwid_price" *ngIf="widget.purchase_option == 'free'">Free</p>
                              </div>
                            </td>
                            <td>
                              <div class="tblcmn_td_div">
                                <div class="tblcmn_td_opersdiv">
                                  <button type="button" class="btn btn-primary tblwid_btn_viw btn-xs"
                                    [routerLink]="['/preview/',widget.id]"><i class="fa fa-eye"></i></button>
                                  <button type="button" class="btn btn-primary tblwid_btn_edt btn-xs mt-1"><i
                                      [routerLink]="['/upload/',widget.id]" class="fa fa-pencil-square-o"></i></button>
                                  <button type="button" (click)="deleteComponent(widget.id)"
                                    class="btn btn-primary tblwid_btn_rmv btn-xs mt-1"><i
                                      class="fa fa-trash-o"></i></button>
                                  <!-- <button type="button" class="btn btn-primary tblwid_btn_chk"><i
                                            class="fa fa-check"></i></button> -->
                                </div>
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>



      </div>
    </div>
  </div>


  <!-- End Product Content -->




</section>
<!-- End Page Content -->