<!-- New Product -->
<section class="section-padding bg-gray">
    <div class="container">
        <h2 class="page-title">New Tranding</h2>
    </div>
    <div class="container">
        <div id="new-tranding" class="product-item-4 owl-carousel owl-theme nf-carousel-theme1">
            <!-- item.1 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>
            <!-- item.2 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>
            <!-- item.3 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>
            <!-- item.4 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>
            <!-- item.5 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>
            <!-- item.6 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>
            <!-- item.7 -->
            <div class="product-item">
                <div class="product-item-inner">
                    <div class="product-img-wrap">
                        <img src="img/product-img/big/product_125470001.jpg" alt="">
                    </div>
                    <div class="product-button">
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="2545kb"><i class="fa fa-database"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="10"><i class="fa fa-download"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="5"><i class="fa fa-refresh"></i></a>
                        <a href="#" class="js_tooltip" data-mode="top" data-tip="8"><i class="fa fa-comment"></i></a>
                    </div>
                </div>
                <div class="product-detail">
                    <a class="tag" href="#">Men Fashion</a>
                    <p class="product-title"><a href="product_detail.html"><strong>United Colors of Benetton</strong></a></p>
                    <div class="product-rating">
                        <div class="star-rating" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating" title="Rated 4 out of 5">
                            <span style="width: 60%"></span>
                        </div>
                        <a href="#" class="product-rating-count"><span class="count">3</span> Reviews</a>
                    </div>
                    <p class="product-description">
                        When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic remaining essentially unchanged.
                    </p>
                    <a href="#" class="btn btn-sm btn-orange">Preview</a>
                    <a href="#" class="btn btn-sm btn-green ml-1">Download</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End New Product -->